* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underconstruction {
  display: flex;
  width: 100%;
  text-align: center;
  border: 5px dotted var(--primary-color);
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.underconstruction > h1 {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Fira Code', monospace;
}

.container {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding: 0 20px;
}

.btn-primary {
  background: var(--primary-color);
  border: none;
  border-radius: 5px 15px;
  padding: 0px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
  display: flex;
  align-items: center;
}

.btn-primary:hover {
  border-radius: 15px 5px;
  background-color: var(--secondary-color);
}

.social-icon {
  transition: 500ms;
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
