* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Code', monospace;
}

.container {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px;
  padding: 0 20px;
}
