:root {
  --primary-color: #00adb5;
  --secondary-color: #393e46;
  --terciry-color: #eeeeee;
  --font-lighter-text-color: #eeeeee;
  --font-darker-text-color: #393e46;
  --background-color-light: #fff;
  --background-color-dark: #393e46;
}
